@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');




body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 387px;
}

.download-container {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login {
    width: 104px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #157396;
    color: #157396;
    border-radius: 5px;
    cursor: pointer;
}
.loantext{
    line-height: 30px;
    width:94%;
}

.qna{
    width:94%;
}
.ques{
    /* padding-left:5%;
    padding-right:5%;
    background-color: green;
    box-sizing: border-box; */
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    height:54px;
    width:100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13);
    margin-bottom: 25px;
}  

.ques-text{
    font-size: 17.9px;
    font-weight: 500;
    color: #3C3C3C;
   
    /* margin-left: 20px; */
}

.banner{
    height:428px;
    width:100%;
    background: linear-gradient(to right,#0157ac,#157397, #177696, #39a573,#41b06d, #70f440);
    display:flex;
}

.left{
    width:60%;
    height:100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    padding-left:100px;
    box-sizing: border-box;
}

.text-banner{
    color:#fff;
    font-size: 35px;
    font-weight: 900;
    /* margin-top:-10px; */
}

#txtbnr{
    margin-top: -15px;
}

.list-text{
    font-weight:700;
}

.para-banner{
    font-size: 22px;
    color:#fff;
    font-weight: 400;
}

.right{
    width:40%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.apply-btn{
    width: 200px;
    height: 60px;
    background-color: #4687af;
    color: #bde2e5;
    font-size: 23px;
    font-weight: 600;
    border:5px solid #bde2e5;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right img{
    width:350px;
    height:350px;
    border-radius: 70px;
    border : 15px solid #4e85ac;
}

.footer{
    background-color: #151D35;
    margin-top: 20px;
    width: 100%;
    height:430.98px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper{
    width:1320px;
    height:414.98px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.first{
    width:322.29px;
    height:300.98px;
    /* background-color: #151D35; */
}

#logo-img-first{
    width : 280px;
    height:77.08px;
}

#logo-img-second{
    width:190px;
    height:56.28px;
}

#patent{
    width:207px;
    height:29.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    background-color: #201A50;
    border-radius: 8px;
}

#downloadapp{
    width:322.29px;
    height:36px;
    font-style: roboto;
    font-size: 16px;
    font-weight: 400px;
    color:#BBB7C2;
}

.second{
    width:153.34px;
    height:300.98px;
    /* background-color: #151D35; */
}

.underline{
    width:48px;
    height:4px;
    background-color: #15EBAE;
    border-radius: 6px;
    margin-top: -15px;
}

#second-service{
    font-style: mulish;
    font-weight: 800;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}

.second-text{
    display:flex;
    align-items: center;
}

#arrow{
    width:13px;
    height:8.66px;
}

#arrowtext{
    margin-left: 7px;
    color:#BBB7C2;
    font-size: 16px;
    font-weight: 400;
    font-style: roboto;
}

.third{
    width:356px;
    height:300.98px;
    /* background-color:purple; */
    /* background-color: #151D35; */
}

.third-address{
    font-size:16px;
    font-family: roboto;
}

.social-icons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: medium;
}

.last{
    width:100%;
    display:flex;
    justify-content: center;
    background-color:#151D35 ;
    color:#ffffff
}
/* section3 */
.section3{
    background: linear-gradient(-45deg, #03C1F3,#008DCF, #34DDFF,#34DDFF,#43B8F5,#5FFFBC);
    width: 1428px;
    height:750px;
    display: flex;

}

#product-text{
    font-size: 36px;
    font-weight: 700;
    font-style: manrope;
}

#probest{
    color:#3995b1;
}